.container-fluid {
    max-width: 84.75rem;
    box-sizing: border-box;
    position: relative;
    z-index: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (min-width: 1024px) {
    .container-fluid {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.g-field-search .form-group {
    position: static;
}

.dropdown-menu {
    top: auto;
    left: auto;
    right: 48px;
}

.z-max {
    z-index: 99999999 !important;
}
span.irs-bar,
span.irs-to,
span.irs-from {
    background: #ed145b !important;
}
.irs-handle i {
    background: #ed145b !important;
}
.bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-title h3,
.bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-title h4 {
    font-size: 16px !important;
    line-height: 23px;
    font-weight: bold !important;
}
.bravo_wrap .bravo-checkbox .fa-star {
    color: #686565 !important;
    font-size: 15px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.bravo_wrap .bravo_search_tour .bravo_filter .filter-title {
    font-size: 16px;
    color: #ed145b !important;
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 600 !important;
}
.bravo_wrap
    .bravo_search_tour
    .bravo-list-item
    .list-item
    .item-tour
    .sale_info {
    position: absolute;
    width: 80px;
    height: 48px;
    transform: rotate(45deg);
    right: -30px;
    top: -13px;
    line-height: 65px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    z-index: 8;
    background-color: #fc5b62 !important;
}
.bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-title h3,
.bravo_wrap .bravo_search_tour .bravo_filter .g-filter-item .item-title h4 {
    color: #fc5b62 !important;
}
